body {
    font-family: "Comic Sans MS", sans-serif;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: auto;
    padding: 0;
}

.container {
    margin: auto;
    width: 100%;
    height: 20vh;
    position: relative;
    background: #5CB5E2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottom_container {
    margin: auto;
    width: 100%;
    height: 100vh;
    position: relative;
    background: rgba(211, 150, 90, 0.55);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    position: relative;
    top: 1px;
    right: 5%;
    /*background: white;*/
    border-radius: 29px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;

}

.title {
    font-size: 64px;
    font-family: "Papyrus";
    /*color: black;*/
    color: #30aac5;
}

.form-container {
    position: absolute;
    top: 5%;
    background: white;
    width: 60%;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-top: 10px;
    margin-bottom: 20px;
}

label {
    width: 100%;
    font-size: 14px;
    color: #666;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.names-row {
    width: 100%;
    display: flex;
    gap: 20px;
}

.names-row .form-group {
    width: 50%;
}

.dob-row {
    display: flex;
    margin-top: 10px;
    align-items: center;
    gap: 20%;
}

.radio-group {
    display: flex;
    align-items: center;
}

.radio-group label {
    display: flex;
    width: 100%;
    margin-left: 20px;
    margin-bottom: 10px;
    align-items: center;
    gap: 10%;
    white-space: nowrap;
}

.radio-group span {
    order: -1;
}

.dob-group {
    width: auto;
    display: flex;
    align-items: center;
    gap: 10%;
}

select, input {
    width: 100%;
    padding: 10px;
    border: 2px solid #7A5CFA;
    border-radius: 8px;
}

button {
    padding: 5px;
    background: white;
    border: 1px solid #7A5CFA;
    color: #7A5CFA;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #7A5CFA;
    color: white;
}

.random-facts-alert-container {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.alert-content {
    background-color: white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
    position: relative;
}

.alert-content p {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
}

.closebtn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closebtn:hover,
.closebtn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}